In [10]:
tupla1 = ('maria', 'joao', 'pedro', 'gabriel')

In [11]:
type(tupla1)

tuple

In [13]:
tupla1.index('gabriel')

3

In [16]:
tupla1[3] = 'jaojds'

TypeError: 'tuple' object does not support item assignment

In [17]:
len(tupla1)

4

In [18]:
tupla1[1:]

('joao', 'pedro', 'gabriel')

In [20]:
tupla1 [::-1]

('gabriel', 'pedro', 'joao', 'maria')

In [21]:
t2 = ('A','B','C')

In [41]:
t2

('A', 'B', 'C', 'D', 'D', 'E', 'D', 'D', 'D')

In [23]:
t2.append()

AttributeError: 'tuple' object has no attribute 'append'

In [40]:
lista_t2 = list(t2)
lista_t2

['A', 'B', 'C', 'D', 'D', 'E', 'D', 'D', 'D']

In [37]:
lista_t2.append('D')
t2 = tuple(lista_t2)

In [42]:
listaABC = []
for i  in range(65,91):
    listaABC.append(chr(i))

In [43]:
listaABC

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [44]:
t3 = ([], 2 , 3)

In [45]:
t3

([], 2, 3)

In [48]:
t3[0].append(3)

In [57]:
t3

NameError: name 't3' is not defined

In [54]:
t3 = ()

In [56]:
del t3

In [71]:
estudantes = {"Pedro": 25 , "Maria": 32 ,"Joao": 45}

In [72]:
type(estudantes)

dict

In [73]:
estudantes["Joao"]

45

In [74]:
list(estudantes.keys())

['Pedro', 'Maria', 'Joao']

In [75]:
list(estudantes.values())

[25, 32, 45]

In [76]:
sum(list(estudantes.values()))

102

In [77]:
len(estudantes)

3

In [81]:
estudantes2 = {"Joaquina":12,"José":25}

In [82]:
estudantes.update(estudantes2)

In [83]:
estudantes

{'Pedro': 25, 'Maria': 32, 'Joao': 45, 'Joaquina': 12, 'José': 25}

In [85]:
estudantes2

{'Joaquina': 12, 'José': 25}

In [86]:
estudantes

{'Pedro': 25, 'Maria': 32, 'Joao': 45, 'Joaquina': 12, 'José': 25}

In [88]:
x= 3

In [90]:
y= 2

In [91]:
x == y

False